.custom-avatar {
  display: flex;
  justify-content: center;
  margin: 12px 0;
}

.custom-avatar img {
  width: 60px;     /* 👈 rất nhỏ */
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
