/* FORCE avatar size (override PaperMod) */
.custom-avatar img {
  width: 60px !important;
  height: 60px !important;
  max-width: 60px !important;
  max-height: 60px !important;

  border-radius: 80% !important;
  object-fit: cover !important;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15) !important;
}

.custom-avatar {
  display: flex !important;
  justify-content: center !important;
  margin: 60px 0 !important;
}
